.PromoImg {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header {
    color: white;
  }
}
