@import "../../base//settings";

.LoginNav {
  width: 100%;
  background-color: $color-dark;
  color: $color-light;
  height: 4.5rem;
  font-size: 1.8rem;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__nav {
    display: flex;

    & li {
      margin-left: 3rem;
    }
  }
}
