@import "../../base/settings";

.MainNav {
  width: 100%;
  height: 7rem;
  border-bottom: solid 1px #ddd;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__logo {
    font-size: 3.5rem;
    font-weight: 600;
    text-decoration: none;
    color: $color-dark;
  }

  &__links {
    display: flex;
  }

  &__link {
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 3rem;
  }
}
