@import "../../base/settings";

.QuantityInput {
  &__label {
    font-size: 2rem;
    color: $color-primary;
  }
  &__container {
    display: flex;
    height: 2em;
    font-size: 2rem;
    margin-top: 0.5em;
  }

  &__button {
    cursor: pointer;
    font-size: inherit;
    border: none;
    border-radius: 2px;
    background-color: $color-primary;
    color: $color-light;
    height: 100%;
    padding: 0 0.4em;
  }

  &__display {
    width: 1em;
    padding: 0 0.3em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
