@import "../base//settings";

.btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em 2em;
  letter-spacing: 0.5rem;
  border-radius: 1px;
  transition: all 0.2s ease-in;
  border: none;

  &__primary {
    background-color: $color-dark;
    color: $color-light;

    &:hover {
      background-color: $color-light;
      color: $color-dark;
    }
  }

  &__secondary {
    background-color: $color-light;
    color: $color-dark;

    &:hover {
      background-color: $color-dark;
      color: $color-light;
    }
  }

  &__tertiary {
    background-color: $color-primary;
    color: $color-light;

    &:hover {
      background-color: darken($color-primary, 5%);
    }
  }
}
