@import "../base/settings";
.Cart {
  margin-top: 10rem;
  font-family: inherit;
  display: flex;
  justify-content: center;

  &__container {
    width: 1000px;
  }

  &__header {
    margin-top: 5rem;
    font-size: 4rem;
    font-weight: 400;
  }

  &__icon {
    color: $color-primary;
  }

  &__actions {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-end;
    margin: 5rem 0;
  }

  &__btn {
    font-size: 1.5rem;
  }

  &__table {
    width: 100%;

    & thead {
      border-bottom: 1px solid $color-primary;
    }
  }

  &__head {
    font-size: 2rem;
    font-family: inherit;
    font-weight: 400;
    padding-bottom: 1rem;

    &--title {
      width: 60%;
      text-align: start;
    }

    &--quant {
      width: 15%;
      text-align: center;
    }

    &--price {
      width: 25%;
      text-align: end;
    }
  }

  &__quant-input {
    font-size: 2.2rem;
    padding: 0.75rem 0.75rem 0.75rem 2rem;
    text-align: center;
    width: 20%;
  }

  &__product {
    font-family: inherit;
    font-weight: 400;

    &--title {
      width: 60%;
      text-align: start;
    }

    &--quant {
      width: 15%;
      text-align: center;
      font-size: 2rem;
    }

    &--price {
      width: 25%;
      text-align: end;
      font-size: 2.3rem;
    }
  }

  &__footer {
    display: flex;
    border-top: 1px solid $color-primary;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5rem 0;
  }

  &__total {
    font-size: 2.3rem;
    margin-bottom: 2.5rem;
  }

  &__empty {
    font-size: 3rem;
    color: $color-secondary;
    height: 20rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
