@import "../base/settings";

.Contact {
  margin-top: 10rem;
  height: calc(100vh - 10rem);
  background-image: url("../../img/contact_img.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    height: 40rem;
    width: 80rem;
    background-color: rgba($color-light, 0.95);
    border-radius: 1px;
  }
}
