@import "../base/settings";
@import "../abstracts/mixins";

.Contact {
  margin-top: 10rem;
  height: calc(100vh - 10rem);
  background-image: url("../../img/contact_img-res.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(md) {
    height: auto;
  }

  &__box {
    background-color: rgba($color-light, 0.95);
    padding: 7rem;
    border-radius: 1px;

    @include respond(md) {
      padding: 3rem;
    }
  }

  &__header {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  &__content {
    display: flex;
    letter-spacing: 1px;

    @include respond(md) {
      flex-direction: column;
    }
  }

  // Input class comes from react-final-form
  &__form .Input {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  &__form label {
    margin-bottom: 0.5rem;
  }

  &__form input {
    font-size: 1.7rem;
    box-sizing: inherit;
    border: 2px solid transparent;
    background-color: #e0e0e0;
    padding: 1rem;
    border-radius: 1px;
    width: 30rem;

    &:focus {
      border: 2px solid $color-primary;
    }

    @include respond(md) {
      width: 95%;
    }
  }

  &__form button {
    @include respond(md) {
      display: block;
      margin-left: auto;
    }
  }

  &__form span {
    color: red;
    font-size: 1.4rem;
  }

  &__info {
    margin-left: 6rem;
    display: flex;
    flex-direction: column;

    @include respond(md) {
      order: -1;
      margin-left: 0;
      margin-bottom: 5rem;
    }
  }

  &__message {
    color: $color-primary;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  &__list {
    list-style: none;
    padding-left: 3rem;
  }

  &__item {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: $color-secondary;
  }

  &__item i {
    color: $color-primary;
    font-size: 2rem;
    margin-right: 1rem;
  }
}
