@import "../base/settings";
@import "../abstracts/mixins";

.Hero {
  width: 100%;
  height: 50rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.1),
      rgba($color-primary, 0.1)
    ),
    url("../../img/hero.jpg");
  background-size: cover;
  background-position: bottom;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__header {
    font-size: 6.7rem;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    color: $color-light;
    letter-spacing: 1rem;
    text-shadow: 0.5rem 1rem 2rem rgba(black, 0.4);

    @include respond(xs) {
      font-size: 5rem;
    }
  }

  &__cta {
    text-align: center;
  }
}
