@import "../base/settings";
@import "../abstracts/mixins";

.PageNumber {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  border: 2px solid $color-primary;
  background-color: transparent;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  margin: 0 0.75rem;

  @include respond(nano) {
    padding: 0.5rem 0.5rem;
  }

  &__number {
    min-width: 1.5rem;
  }
}

.selected {
  background-color: $color-primary;
  color: white;
}
