@import "../../base/settings";
@import "../../abstracts/mixins";

.MainNav {
  width: 100%;
  height: 6rem;
  border-bottom: solid 1px #ddd;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @include respond(lg) {
      padding: 0 5rem;
    }

    @include respond(sm) {
      flex-direction: column;
    }

    @include respond(xs) {
      padding: 0 2rem;
    }

    &--sub {
      @include respond(sm) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
    }
  }

  &__logo {
    font-size: 3.5rem;
    font-weight: 600;
    text-decoration: none;
    color: $color-dark;
  }

  &__links {
    display: flex;

    @include respond(sm) {
      background-color: rgba($color-light, 0.8);
      width: 150%;
      flex-direction: column;
      margin: 1rem 0;
    }
  }

  &__link {
    font-size: 1.8rem;
    margin-left: 3rem;

    @include respond(sm) {
      height: 100%;
      width: 100%;
    }

    & a {
      @include respond(sm) {
        display: block;
        text-align: center;
        padding: 1rem 3rem;
      }
    }
  }

  &__burger {
    position: relative;
    width: 40px;
    height: 35px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: none;

    @include respond(sm) {
      display: flex;
    }
  }

  &__burger input {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border: 1px solid black;
    width: 40px;
    height: 35px;
    opacity: 0;
    z-index: 2;
  }

  &__burger span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: black;
    border-radius: 3px;
    z-index: 1;
  }
}
