@import "../../base/settings";
@import "../../abstracts/mixins";

.SideBar {
  width: 100%;

  @include respond(lg) {
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    @include respond(lg) {
      padding: 0 2rem;
    }
  }
  &__title {
    font-size: 2rem;
    margin-bottom: 6.5rem;
    letter-spacing: 2px;

    @include respond(lg) {
      margin-bottom: 3rem;
    }
  }

  &__expand {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 2.5rem;
    padding: 2rem;
    color: $color-primary;
  }

  &__options {
    @include respond(lg) {
      width: 100%;
      display: flex;
      flex-flow: wrap;
      justify-content: space-around;
    }
  }

  &__block {
    margin-bottom: 5rem;

    @include respond(lg) {
      margin-bottom: 2rem;
    }

    &--heading {
      font-size: 1.7rem;
      font-weight: 400;
      letter-spacing: 1px;
      padding-bottom: 1rem;
    }
  }

  &__nav-list {
    list-style: none;
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding-top: 1rem;
    border-top: 1px solid lighten($color-background, 10);
  }

  &__nav-item {
    margin-bottom: 0.7rem;

    & i {
      color: $color-primary;
      margin-right: 0.5rem;
    }
  }

  &__link {
    cursor: pointer;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    border: none;
    color: black;
    text-decoration: none;

    @include respond(lg) {
      padding-bottom: 2rem;
      font-size: 1.7rem;
    }
  }

  &__reset {
    @include respond(lg) {
      width: 100%;
    }

    @include respond(nano) {
      width: 40%;
    }
  }
}
